.root {
  max-width: 860px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.main {
  background-color: white;
  min-height: 100vh;
}

.tabs {
  margin-top: 40px;
  padding: 0 15px;
}

.tab {
  font-weight: 700;
}

